aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
akshare==1.9.81
altair==4.2.2
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-timeout==4.0.2
attrs==21.4.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.11.1
bleach==5.0.0
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
brotlipy==0.7.0
cattrs==22.2.0
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi @ file:///C:/ci_310/cffi_1642682485096/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
cloudpickle==2.1.0
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1649106011304/work
cpm-kernels==1.0.11
cryptography @ file:///C:/ci/cryptography_1652083563162/work
cycler==0.11.0
debugpy @ file:///C:/ci/debugpy_1637091961445/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml==0.7.1
entrypoints @ file:///C:/ci/entrypoints_1649926621128/work
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi==0.95.0
fastjsonschema==2.15.3
ffmpy==0.3.0
filelock==3.8.0
fonttools==4.33.3
frozenlist==1.3.3
fsspec==2023.4.0
gradio==3.25.0
gradio_client==0.0.10
gym==0.24.1
gym-notices==0.0.7
h11==0.14.0
html5lib==1.1
httpcore==0.17.0
httpx==0.24.0
huggingface-hub==0.13.4
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==4.11.4
ipykernel==6.13.0
ipython @ file:///C:/ci/ipython_1651601994004/work
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi @ file:///C:/ci/jedi_1644315428289/work
Jinja2==3.1.2
joblib==1.2.0
jsonpath==0.82
jsons==0.8.8
jsonschema==4.6.0
jupyter==1.0.0
jupyter-client @ file:///C:/ci/jupyter_client_1650515989971/work
jupyter-console==6.4.3
jupyter-core @ file:///C:/ci/jupyter_core_1651656286743/work
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.3
latex2mathml==3.75.2
linkify-it-py==2.0.0
lxml==4.9.2
magent==0.2.3
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mdit-py-plugins==0.3.3
mdtex2html==1.2.0
mdurl==0.1.2
menuinst @ file:///C:/ci/menuinst_1631733438520/work
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
mpmath==1.2.1
multidict==6.0.4
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio @ file:///C:/ci/nest-asyncio_1649829929390/work
networkx==3.1
notebook==6.4.11
numexpr @ file:///C:/b/abs_a7kbak88hk/croot/numexpr_1668713882979/work
numpy==1.22.4
openpyxl==3.1.2
orjson==3.8.10
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
patsy==0.5.3
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.1.1
platformdirs==3.5.1
pluggy @ file:///C:/ci/pluggy_1648024580010/work
pprofile==2.1.0
prometheus-client==0.14.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==4.22.1
psutil==5.9.1
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-mini-racer==0.6.0
py4j==0.10.9.5
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.7
pydub==0.25.1
pygame==2.1.0
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
pypinyin==0.48.0
pyrsistent==0.18.1
PySocks @ file:///C:/ci/pysocks_1605307512533/work
pyspark==3.3.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-multipart==0.0.6
pytube==12.1.3
pytz==2022.1
pywin32==302
pywinpty==2.0.5
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1638435148211/work
qtconsole==5.3.0
QtPy==2.1.0
regex==2022.9.13
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-cache==1.0.1
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016898638/work
ruamel.yaml @ file:///C:/b/abs_30ee5qbthd/croot/ruamel.yaml_1666304562000/work
ruamel.yaml.clib @ file:///C:/b/abs_aarblxbilo/croot/ruamel.yaml.clib_1666302270884/work
sacremoses==0.0.53
scikit-learn==1.2.1
scipy==1.8.1
seaborn==0.11.2
semantic-version==2.10.0
Send2Trash==1.8.0
sentencepiece==0.1.98
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
soupsieve==2.3.2.post1
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.26.1
statsmodels @ file:///C:/b/abs_2e2bzve9ig/croot/statsmodels_1674588828901/work
sympy==1.10.1
tabulate==0.9.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.13.3
toolz @ file:///C:/b/abs_cfvk6rc40d/croot/toolz_1667464080130/work
torch==2.0.0
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm @ file:///C:/ci/tqdm_1650636210717/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
transformers==4.27.1
typing_extensions==4.3.0
uc-micro-py==1.0.1
url-normalize==1.4.3
urllib3 @ file:///C:/ci/urllib3_1650639883891/work
uvicorn==0.21.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.1
widgetsnbextension==3.6.0
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
xlrd==2.0.1
yarl==1.8.2
zipp==3.8.0
